<% provide(:title, '首页') %>
<h1><%= link_to image_tag("temp1.jpeg", alt: "food illustration"), 'http://rubyonrails.org/' %>Jen&rsquo;s Kitchen</h1>
<p>If you love to read about <strong>cooking and eating</strong>, would like to find out about
of some of the best restaurants in the world, or just want a few choice recipes to add to your
collection, <em>this is the site for you!</em></p>
<p><%= link_to image_tag("rails.png", alt: "spoon illustration"), 'http://www.xjtlu.edu.cn/' %> Your pal, Jen at Jen's Kitchen</p>

