<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by David L
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help", '#' %></li>
    </ul>
  </nav>
</footer>
